body{
      height: 100vh;
        display: grid;
        grid-template-columns: 250px 1fr;
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
            "head head "
            "navbar mainContent";
}

header{
    grid-area:head;
    background-color: blue;
    text-align: center;
    color:white;
    padding:30px;
    font-size:48px;
    font-weight:bold;
}

nav{
    grid-area: navbar;
        background-color: black;
        color:white;
        padding: 30px;
        height:100vh;
        border: 1px solid black;
        width: 250px;
}

main{
     background: white;
     padding: 20px;
     grid-area: mainContent;
}

.flexContainer{
    border:1px solid red;
    display:flex;
    height:30vh;
    gap:10px;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
}

.flexItem {
        background-color: yellow;
        border: 2px solid red;
        color: red;
        font-size: 24px;
        height: 100px;
        width: 100px;
        margin: 20px;
    }

.topCards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin: 20px;
    }


.topCards1 {
        background: white;
        border: 1px solid wheat;
        padding: 15px;
        border-radius: 10px;
        font-weight: bold;
    }

 .cardGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 20px;
    }

    .dashCard {
        background: white;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 5px;
        font-weight: bold;
    }